.container{
    padding-left: 124px;
    padding-right: 124px;
}

.title{
    padding-top: 20px;
    font-family:WorkSans-SemiBold;
    font-size:15px;
    color:#010610;
    letter-spacing:0;
    text-align:left;
}

.names{
    opacity:0.5;
    font-family:WorkSans;
    font-size:15px;
    color:#010610;
    letter-spacing:0;
    text-align:left;
}

.id{
    margin-top: 5px;
    font-family:WorkSans-Light;
    font-size:15px;
    color:#8c9696;
    letter-spacing:0;
    text-align:left;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.cell{
    padding-top: 20px;
    border-bottom: 2px solid #e3ecec;
    padding-bottom: 20px;
    color: black;
}
.cell:first-child
{
    width: 33%;
}

.validator1{
   float: left;
   padding-bottom: 5px;
}

.insurer {
    border-bottom: 2px solid #b0bef3;
}
.vehicle_owner {
    border-bottom: 2px solid #71cddd;
}
.vehicle {
    border-bottom: 2px solid #fc835c;
}
.manufacturer {
    border-bottom: 2px solid #e4adea;
}

.sign{
    position: absolute;
    float: left;
    margin-left: 175px;
}

.validator2{
    position: absolute;
    float: left;
    margin-left: 250px;
    padding-bottom: 5px;
}